body{
    font-family: 'Poppins', sans-serif;
}
button{
    transition: transform .1s ease-in-out;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
.add-shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}
header{
    background-color: #F0FFF0;
}
header .bg-light{
    background-color: #F0FFF0 !important;
}
.navbar-brand{
    width: 120px;
    padding: 10px 0;
}
.navbar-brand img{
    width: 100%;
}
.navbar-nav{
    margin-left: auto !important;
}
.navbar-nav li{
    padding: 0 15px;
    font-weight: 400;
}
.btn-sign-in{
    background-color: #21B573;
    color: white;
    padding: 8px 22px;
    border-radius: 20px;
    border: none;
}
.color-orange{
    color: #FD511A;
    line-height: 24px;
}
.color-green{
    color: #21B573;
}
.color-gray{
    color: #6C6B6B;
    line-height: 36px;
}
.h1-banner{
    font-weight: 700;
}
.btn-all{
    color: white;
    background-color: #21B573;
    padding: 10px 36px;
    border: none;
    border-radius: 30px;
}
.img-banner{
    width: 100%;
}
.banner{
    margin-top: 60px;
    background-color: #F0FFF0;
}
.col-outside-topic{
    text-align: center;
}
.col-outside-topic img{
    width: 100%;
    padding: 30px 90px;
}
.col-inside-topic{
    margin: 60px 5px;
    padding: 10px 0;
    background-color: #F0FFF0;
    border-radius: 20px;
    transition: box-shadow .3s ease-in-out;
}
.col-inside-topic:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    /* from getcssscan.com #24 no */
}
.color-topic-h{
    color: #413960;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.color-topic-p{
    color: #585859;
}



.card{
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px lightgray;
    transition: box-shadow .3s ease-in-out;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    /* from getcssscan.com #24 no */
}
.card-body{
    padding-bottom: 10px;
}
.card-footer{
    background-color: white;
    border: none;
}
.color-purple{
    color: #413960;
}
.course-headtext{
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.card-title{
    font-weight: 700;
}
.p-card{
    font-size: 14px;
    line-height: 24px;
}
.span-review{
    color: #21B573;
}
.light-gray{
    color: rgb(160, 160, 160);
}
.price{
    font-weight: 700;
}
.course{
    margin: 0px 0 50px;
}



.testimonial{
    margin: 100px 0;
}
.testimonial img{
    width: 100%;
    border-radius: 50%;
}


footer{
    color: white;
    background-color: #282531;
    padding:30px 0 5px;
}
.div-footer-logo img{
    width: 100%;
}
footer p{
    font-size: 12px;
    line-height: 24px;
}
footer h4{
    font-size: 20px;
    font-weight: 500;
}
footer ul{
    padding: 0;
}
footer li{
    font-size: 12px;
    line-height: 2em;
    list-style-type: none;
    cursor: pointer;
}
.margin-footer-li{
    margin-top: 30px;
}


@media only screen and (max-width: 768px) and (orientation: portrait){
    .color-orange, .color-gray{
        font-size: 14px;
        line-height: 1.5em;
    }
    .h1-banner{
        font-size: 30px;
        line-height: 1.5em;
    }
    .btn-all{
        font-size: 14px;
        padding: 8px 24px;
    }
    .col-md-6{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .col-outside-topic{
        width: 50%;
    }
    .col-outside-topic img{
        width: 100%;
        padding: 40px;
    }
    .col-inside-topic{
        margin: 20px 5px;
        padding: 5px 0;
        border-radius: 10px;
    }
    .row-topic{
        margin-top:30px;
    }
    .navbar-brand{
        width: 150px;
        padding: 10px 0;
    }
    .banner{
        padding: 0 0;
    }
}
@media only screen and (max-width: 768px) and (orientation: landscape){
    .color-orange, .color-gray{
        font-size: 10px;
        line-height: .5em;
    }
    .banner{
        padding: 0 0;
    }
    .h1-banner{
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .btn-all{
        font-size: 10px;
        padding: 8px 24px;
    }
    .col-md-6{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .color-topic-h{
        font-size: 14px;
        line-height: 1.5em;
    }
    .color-topic-p{
        font-size: 10px;
    }
    .col-outside-topic img{
        width: 100%;
        padding: 20px;
    }
    .col-inside-topic{
        margin: 10px 0px;
        padding: 5px 5px;
        border-radius: 8px;
    }
    .row-topic{
        margin-top:30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait){
    .banner{
        padding: 50px 0;
    }
    .col-outside-topic img{
        padding: 30px 60px;
    }
    .row-topic{
        margin-top:30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    .navbar-brand{
        width: 200px;
        padding: 10px 0;
    }
    .nav-link{
        font-size: 18px;
    }
    .banner{
        padding: 50px 0;
    }
    .color-orange, .color-gray{
        font-size: 18px;
        line-height: 1.5em;
    }
    .btn-sign-in{
        font-size: 18px;
    }
    .btn-all{
        font-size: 18px;
    }
    .col-outside-topic img{
        width: 100%;
        padding: 50px;
    }
    .col-inside-topic{
        margin: 10px 5px;
        padding: 5px 5px;
        border-radius: 8px;
    }
    .row-topic{
        margin-top:50px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) and (orientation: landscape){
    .navbar-brand{
        width: 200px;
        padding: 10px 0;
    }
    .nav-link{
        font-size: 18px;
    }
    .banner{
        padding: 50px 0;
    }
    .color-orange, .color-gray{
        font-size: 18px;
        line-height: 1.5em;
    }
    .btn-sign-in{
        font-size: 18px;
    }
    .btn-all{
        font-size: 18px;
    }
    .col-outside-topic img{
        width: 100%;
        padding: 60px;
    }
    .col-inside-topic{
        margin: 10px 5px;
        padding: 5px 5px;
        border-radius: 8px;
    }
    .row-topic{
        margin-top:80px;
    }
}
@media only screen and (min-width: 1500px){
    .navbar-brand{
        width: 150px;
        padding: 8px 0;
    }
    .sign-in{
        margin-left: 20px;
    }
    .banner{
        padding:50px 0;
    }
    .img-testimonial{
        width: 120px;
        margin-right: 50px;
    }
}