body{
    font-family: 'Poppins', sans-serif;
}
button{
    transition: transform .1s ease-in-out;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
header{
    background-color: #F0FFF0;
}
header .bg-light{
    background-color: #F0FFF0 !important;
}
.navbar-brand{
    width: 120px;
    padding: 10px 0;
}
.navbar-brand img{
    width: 100%;
}
.navbar-nav{
    margin-left: auto !important;
}
.navbar-nav li{
    padding: 0 15px;
    font-weight: 400;
}
.btn-sign-in{
    background-color: #21B573;
    color: white;
    padding: 8px 22px;
    border-radius: 20px;
    border: none;
}
.color-orange{
    color: #FD511A;
    line-height: 24px;
}
.color-green{
    color: #21B573;
}
.color-gray{
    color: #6C6B6B;
    line-height: 36px;
}
.h1-banner{
    font-weight: 700;
}
.btn-all{
    color: white;
    background-color: #21B573;
    padding: 10px 36px;
    border: none;
    border-radius: 30px;
}
.img-banner{
    width: 100%;
}
.banner{
    background-color: #F0FFF0;
}
.col-outside{
    text-align: center;
}
.col-outside img{
    width: 100%;
    padding: 30px 90px;
}
.col-inside{
    margin: 60px 5px;
    padding: 10px 0;
    background-color: #F0FFF0;
    border-radius: 20px;
    transition: box-shadow .3s ease-in-out;
}
.col-inside:hover{
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    /* from getcssscan.com #24 no */
}
.color-topic-h{
    color: #413960;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.color-topic-p{
    color: #585859;
}
@media only screen and (max-width: 768px) and (orientation: portrait){
    .color-orange, .color-gray{
        font-size: 14px;
        line-height: 1.5em;
    }
    .h1-banner{
        font-size: 30px;
        line-height: 1.5em;
    }
    .btn-all{
        font-size: 14px;
        padding: 8px 24px;
    }
    .col-md-6{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .col-outside{
        width: 50%;
    }
    .col-outside img{
        width: 100%;
        padding: 40px;
    }
    .col-inside{
        margin: 20px 5px;
        padding: 5px 0;
        border-radius: 10px;
    }
    .row-topic{
        margin-top:30px;
    }
    .navbar-brand{
        width: 150px;
        padding: 10px 0;
    }
    .banner{
        padding: 0 0;
    }
}
@media only screen and (max-width: 768px) and (orientation: landscape){
    .color-orange, .color-gray{
        font-size: 10px;
        line-height: .5em;
    }
    .banner{
        padding: 0 0;
    }
    .h1-banner{
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .btn-all{
        font-size: 10px;
        padding: 8px 24px;
    }
    .col-md-6{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .color-topic-h{
        font-size: 14px;
        line-height: 1.5em;
    }
    .color-topic-p{
        font-size: 10px;
    }
    .col-outside img{
        width: 100%;
        padding: 20px;
    }
    .col-inside{
        margin: 10px 0px;
        padding: 5px 5px;
        border-radius: 8px;
    }
    .row-topic{
        margin-top:30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait){
    .banner{
        padding: 50px 0;
    }
    .col-outside img{
        padding: 30px 60px;
    }
    .row-topic{
        margin-top:30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) and (orientation: landscape){
    .navbar-brand{
        width: 120px;
        padding: 10px 0;
    }
    .banner{
        padding: 50px 0;
    }
    .col-outside img{
        padding: 30px 60px;
    }
    .row-topic{
        margin-top:30px;
    }
}
@media only screen and (min-width: 1500px){
    .navbar-brand{
        width: 150px;
        padding: 8px 0;
    }
    .sign-in{
        margin-left: 20px;
    }
    .banner{
        padding:50px 0;
    }
}